In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import plotly.express as px

Extract Olympics data

In [3]:
# Initialize an empty list to store DataFrames for each year
dfs = []

## 1896 Olympics

In [5]:
# Get the URL of the webpage containing the table
olymp1896 = 'https://www.olympedia.org/results/56017'
page1896 = requests.get(olymp1896)
page1896.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1896 = BeautifulSoup(page1896.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1896 = soup1896.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1896_titles = table1896.find_all('th')
table1896_titles = [titles.text.strip() for titles in table1896_titles]

# Create a DataFrame with the first 5 column titles as headers
df1896 = pd.DataFrame(columns=table1896_titles[0:5])

# Get all the rows of the table
column_data = table1896.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1896.columns):
        length = len(df1896)  # Get the current length of the DataFrame
        df1896.loc[length] = individual_row_data  # Add the row to the DataFrame
        
# Add a new column for the Olympics year 1896
df1896['Year'] = 1896

# Append the DataFrame for 1896 to the list of DataFrames
dfs.append(df1896)

# Now dfs list contains the DataFrame for 1896, and can be concatenated later with additional years.

# Display the DataFrame
df1896

    Pos  Nr                  Athlete  NOC       Time  Year
0     1  17             Spyros Louis  GRE    2-58:50  1896
1     2   7      Charilaos Vasilakos  GRE    3-06:03  1896
2     3   6            Gyula Kellner  HUN    3-06:35  1896
3     4  14          Ioannis Vrettos  GRE          –  1896
4     5  15   Eleftherios Papasymeon  GRE          –  1896
5     6   1    Dimitrios Deligiannis  GRE          –  1896
6     7  10      Evangelos Gerakakis  GRE          –  1896
7     8  18       Stamatios Masouris  GRE          –  1896
8     9  12      Sokratis Lagoudakis  GRE          –  1896
9   DNF   2              Teddy Flack  AUS          –  1896
10  DNF   4         Albin Lermusiaux  FRA          –  1896
11  DNF  13       Georgios Lavrentis  GRE          –  1896
12  DNF  11       Georgios Grigoriou  GRE          –  1896
13  DNF   8          Arthur C. Blake  USA          –  1896
14  DNF  16           Ilias Kafetzis  GRE          –  1896
15  DNF   5  Dimitrios Christopoulos  GRE          –  1896
16   DQ   3         Spyridon Belokas  GRE  [3-06:30]  1896
17  DNS   –                   Vathis  GRE          –  1896
18  DNS   –                Vanitakis  GRE          –  1896
19  DNS   –          Gyula Malcsiner  HUN          –  1896
20  DNS   –            Carlo Airoldi  ITA          –  1896
21  DNS   9               Carl Galle  GER          –  1896
22  DNS   –          Stamata Revithi  GRE          –  1896
23  DNS   –                Melpomene  GRE          –  1896

## 1900 Olympics

In [7]:
# Get the URL of the webpage containing the table for the 1900 Olympics
olymp1900 = 'https://www.olympedia.org/results/56066'
page1900 = requests.get(olymp1900)
page1900.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1900 = BeautifulSoup(page1900.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1900 = soup1900.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1900_titles = table1900.find_all('th')
table1900_titles = [titles.text.strip() for titles in table1900_titles]

# Create a DataFrame with the first 5 column titles as headers
df1900 = pd.DataFrame(columns=table1900_titles[0:5])

# Get all the rows of the table
column_data = table1900.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1900.columns):
        length = len(df1900)  # Get the current length of the DataFrame
        df1900.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1900
df1900['Year'] = 1900

# Append the DataFrame for 1900 to the list of DataFrames
dfs.append(df1900)

# Display the DataFrame for 1900
df1900

    Pos  Nr                 Athlete  NOC       Time  Year
0     1   3           Michel Théato  FRA  2-59:45.0  1900
1     2   2          Émile Champion  FRA  3-04:17.0  1900
2     3  14              Ernst Fast  SWE  3-37:14.0  1900
3     4   6            Eugène Besse  FRA  4-00:43.0  1900
4     5   4           Arthur Newton  USA  4-04:12.0  1900
5     6  15              Dick Grant  USA          –  1900
6     7  16        Ronald MacDonald  USA          –  1900
7   DNF   1  Georges Touquet-Daunis  FRA          –  1900
8   DNF  13        Auguste Marchais  FRA          –  1900
9   DNF   9            Billy Saward  GBR          –  1900
10  DNF   5                Ion Pool  GBR          –  1900
11  DNF  11            Fred Randell  GBR          –  1900
12  DNF   8           Johan Nyström  SWE          –  1900
13  DNF  10          William Taylor  GBR          –  1900
14  DNS  12                 Martens  FRA          –  1900
15  DNS  19            Ettore Zilia  ITA          –  1900
16  DNS  17              Jakub Wolf  HUN          –  1900
17  DNS   –            John Maguire  GBR          –  1900
18  DNS  18            Emilio Banfi  ITA          –  1900
19  DNS   7             John Cregan  USA          –  1900
20  DNS   –              Alex Grant  USA          –  1900

## 1904 Olympics

In [9]:
# Get the URL of the webpage containing the table for the 1904 Olympics
olymp1904 = 'https://www.olympedia.org/results/56131'
page1904 = requests.get(olymp1904)
page1904.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1904 = BeautifulSoup(page1904.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1904 = soup1904.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1904_titles = table1904.find_all('th')
table1904_titles = [titles.text.strip() for titles in table1904_titles]

# Create a DataFrame with the first 5 column titles as headers
df1904 = pd.DataFrame(columns=table1904_titles[0:5])

# Get all the rows of the table
column_data = table1904.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1904.columns):
        length = len(df1904)  # Get the current length of the DataFrame
        df1904.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1904
df1904['Year'] = 1904

# Append the DataFrame for 1904 to the list of DataFrames
dfs.append(df1904)

# Display DataFrame for 1904
df1904

    Pos  Nr               Athlete  NOC     Time  Year
0     1  20             Tom Hicks  USA  3-28:53  1904
1     2   7          Albert Corey  USA  3-34:52  1904
2     3  12         Arthur Newton  USA  3-47:33  1904
3     4   3        Félix Carvajal  CUB        –  1904
4     5  26    Dimitrios Veloulis  GRE        –  1904
5     6  22        David Kneeland  USA        –  1904
6     7  17         Henry Brawley  USA        –  1904
7     8  39          Sidney Hatch  USA        –  1904
8     9  35          Len Taunyane  RSA        –  1904
9    10   6  Christos Zechouritis  GRE        –  1904
10   11  21          Frank Devlin  USA        –  1904
11   12  36          Jan Mashiani  RSA        –  1904
12   13  30            John Furla  USA        –  1904
13   14  28      Andrew Oikonomou  GRE        –  1904
14  DNF   9          Frank Pierce  USA        –  1904
15  DNF  10          Sammy Mellor  USA        –  1904
16  DNF  11           Edward Carr  USA        –  1904
17  DNF  13           Mike Spring  USA        –  1904
18  DNF  45           John Lordan  USA        –  1904
19  DNF  23        William Garcia  USA        –  1904
20  DNF  19            Bob Fowler  USA        –  1904
21  DNF  33        Thomas Kennedy  USA        –  1904
22  DNF  18            Guy Porter  USA        –  1904
23  DNF  14              John Foy  USA        –  1904
24  DNF   1         Bertie Harris  RSA        –  1904
25  DNF  25    Georgios Vamkaitis  GRE        –  1904
26  DNF  32   Charilaos Giannakas  GRE        –  1904
27  DNF  34       Georgios Drosos  GRE        –  1904
28  DNF  37     Georgios Louridas  GRE        –  1904
29  DNF  38    Ioannis Lougkitsas  GRE        –  1904
30  DNF  29        Petros Pipilis  GRE        –  1904
31   DQ  31             Fred Lorz  USA        –  1904
32  DNS  27      Dimitrios Tsokas  GRE        –  1904
33  DNS   4          John Kennedy  USA        –  1904
34  DNS   8   Konstantinos Lontos  USA        –  1904
35  DNS   5         Louis Crancer  USA        –  1904
36  DNS  24         William Meyer  USA        –  1904
37  DNS   2      William Heritage  USA        –  1904
38  DNS  15             John Daly  GBR        –  1904
39  DNS  16        Billy Sherring  CAN        –  1904

## 1906 Intercalated Olympics

In [11]:
# Get the URL of the webpage containing the table for the 1906 Intercalated Olympics
olymp1906 = 'https://www.olympedia.org/results/56213'
page1906 = requests.get(olymp1906)
page1906.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1906 = BeautifulSoup(page1906.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1906 = soup1906.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1906_titles = table1906.find_all('th')
table1906_titles = [titles.text.strip() for titles in table1906_titles]

# Create a DataFrame with the first 5 column titles as headers
df1906 = pd.DataFrame(columns=table1906_titles[0:5])

# Get all the rows of the table
column_data = table1906.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1906.columns):
        length = len(df1906)  # Get the current length of the DataFrame
        df1906.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1906
df1906['Year'] = 1906

# Append the DataFrame for 1906 to the list of DataFrames
dfs.append(df1906)

df1906

     Pos   Nr            Athlete  NOC       Time  Year
0      1  617     Billy Sherring  CAN  2-51:23.6  1906
1      2  643      John Svanberg  SWE  2-58:20.8  1906
2      3  195      William Frank  USA  3-00:46.8  1906
3      4  691     Gustaf Törnros  SWE  3-01:00.0  1906
4      5   33    Ioannis Alepous  GRE  3-09:25.4  1906
..   ...  ...                ...  ...        ...   ...
100  DNS  431  Hjalmar Mellander  SWE          –  1906
101  DNS  196        Hugo Friend  USA          –  1906
102  DNS  311      Bert Kerrigan  USA          –  1906
103  DNS  191    Edmond Filiâtre  FRA          –  1906
104  DNS   78       Bjarne Bratz  NOR          –  1906

[105 rows x 6 columns]

## 1908 Olympics

In [13]:
# Get the URL of the webpage containing the table for the 1908 Olympics
olymp1908 = 'https://www.olympedia.org/results/56369'
page1908 = requests.get(olymp1908)
page1908.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1908 = BeautifulSoup(page1908.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1908 = soup1908.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1908_titles = table1908.find_all('th')
table1908_titles = [titles.text.strip() for titles in table1908_titles]

# Create a DataFrame with the first 5 column titles as headers
df1908 = pd.DataFrame(columns=table1908_titles[0:5])

# Get all the rows of the table
column_data = table1908.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1908.columns):
        length = len(df1908)  # Get the current length of the DataFrame
        df1908.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1908
df1908['Year'] = 1908

# Append the DataFrame for 1908 to the list of DataFrames
dfs.append(df1908)

df1908

    Pos Nr           Athlete  NOC       Time  Year
0     1  –      Johnny Hayes  USA  2-55:18.4  1908
1     2  –  Charles Hefferon  RSA  2-56:06.0  1908
2     3  –       Joe Forshaw  USA  2-57:10.4  1908
3     4  –        Roy Welton  USA  2-59:44.4  1908
4     5  –      William Wood  CAN  3-01:44.0  1908
..  ... ..               ...  ...        ...   ...
66  DNS  –    Thure Bergvall  SWE          –  1908
67  DNS  –     Ivar Lundberg  SWE          –  1908
68  DNS  –    Georg Peterson  SWE          –  1908
69  DNS  –         Fred Lorz  USA          –  1908
70  DNS  –    Hermann Müller  GER          –  1908

[71 rows x 6 columns]

## 1912 Olympics

In [15]:
# Get the URL of the webpage containing the table for the 1912 Olympics
olymp1912 = 'https://www.olympedia.org/results/56648'
page1912 = requests.get(olymp1912)
page1912.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1912 = BeautifulSoup(page1912.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1912 = soup1912.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1912_titles = table1912.find_all('th')
table1912_titles = [titles.text.strip() for titles in table1912_titles]

# Create a DataFrame with the first 5 column titles as headers
df1912 = pd.DataFrame(columns=table1912_titles[0:5])

# Get all the rows of the table
column_data = table1912.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1912.columns):
        length = len(df1912)  # Get the current length of the DataFrame
        df1912.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1912
df1912['Year'] = 1912

# Append the DataFrame for 1912 to the list of DataFrames
dfs.append(df1912)

df1912

    Pos Nr            Athlete  NOC       Time  Year
0     1  –       Ken McArthur  RSA  2-36:54.8  1912
1     2  –      Chris Gitsham  RSA  2-37:52.0  1912
2     3  –    Gaston Strobino  USA  2-38:42.4  1912
3     4  –  Andrew Sockalexis  USA  2-42:07.9  1912
4     5  –        Jimmy Duffy  CAN  2-42:18.8  1912
..  ... ..                ...  ...        ...   ...
93  DNS  –    Alfonso Sánchez  CHI          –  1912
94  DNS  –       Gaston Heuet  FRA          –  1912
95  DNS  –     Len Richardson  RSA          –  1912
96  DNS  –   Mikhail Nikolsky  RUS          –  1912
97  DNS  –    Nikolay Khorkov  RUS          –  1912

[98 rows x 6 columns]

## 1920 Olympics

In [17]:
# Get the URL of the webpage containing the table for the 1920 Olympics
olymp1920 = 'https://www.olympedia.org/results/57135'
page1920 = requests.get(olymp1920)
page1920.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1920 = BeautifulSoup(page1920.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1920 = soup1920.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1920_titles = table1920.find_all('th')
table1920_titles = [titles.text.strip() for titles in table1920_titles]

# Create a DataFrame with the first 5 column titles as headers
df1920 = pd.DataFrame(columns=table1920_titles[0:5])

# Get all the rows of the table
column_data = table1920.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1920.columns):
        length = len(df1920)  # Get the current length of the DataFrame
        df1920.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1920
df1920['Year'] = 1920

# Append the DataFrame for 1920 to the list of DataFrames
dfs.append(df1920)

df1920

    Pos   Nr                  Athlete  NOC       Time  Year
0     1  263       Hannes Kolehmainen  FIN  2-32:35.8  1920
1     2  680             Jüri Lossman  EST  2-32:48.6  1920
2     3  464             Valerio Arri  ITA  2-36:37.8  1920
3     4   10            Auguste Broos  BEL  2-39:25.8  1920
4     5  289          Juho Tuomikoski  FIN  2-40:18.8  1920
5     6  106               Sofus Rose  DEN  2-41:18.0  1920
6     7  192             Joseph Organ  USA  2-41:30.0  1920
7     8   94            Rudolf Hansen  DEN  2-41:39.4  1920
8     9  259            Urho Tallgren  FIN  2-42:40.0  1920
9    10  264         Tatu Kolehmainen  FIN  2-44:03.2  1920
10   11  191              Carl Linder  USA  2-44:21.6  1920
11   12  204             Chuck Mellor  USA  2-45:30.0  1920
12   13   72             James Dellow  CAN  2-46:47.0  1920
13   14  409              Bobby Mills  GBR  2-48:05.0  1920
14   15   82              Art Scholes  CAN  2-48:30.0  1920
15   16  513           Shizo Kanakuri  JPN  2-48:45.4  1920
16   17  595              Gustav Kinn  SWE  2-49:10.4  1920
17   18  351             Albert Moché  FRA  2-50:00.2  1920
18   19  508        Phadeppa Chaugule  IND  2-50:45.4  1920
19   20  516           Zensaku Motegi  JPN  2-51:09.4  1920
20   21  522            Kenzo Yashima  JPN  2-57:03.0  1920
21   22   78           Norman General  CAN  2-58:01.0  1920
22   23  628            Rudolf Wåhlin  SWE  2-59:23.0  1920
23   24  515              Yahei Miura  JPN  2-59:37.0  1920
24   25  371          Henri Teyssedou  FRA  3-00:04.0  1920
25   26  458         Hendricus Wessel  NED  3-00:17.0  1920
26   27   37              Karel Melis  BEL  3-00:51.0  1920
27   28  581           William Grüner  SWE  3-01:48.0  1920
28   29  416             George Piper  GBR  3-02:10.0  1920
29   30    2            Sinton Hewitt  AUS  3-03:27.0  1920
30   31  402           Leslie Housden  GBR  3-14:07.0  1920
31   32  438  Iraklis Sakellaropoulos  GRE  3-14:25.0  1920
32   33   86            Juan Jorquera  CHI  3-17:45.0  1920
33   34    7           Oscar Blansaer  BEL  3-20:00.0  1920
34   35   81           Eric Robertson  GBR  3-55:00.0  1920
35  DNF  554            Chris Gitsham  RSA          –  1920
36  DNF  467             Ettore Blasi  ITA          –  1920
37  DNF  337             Louis Ichard  FRA          –  1920
38  DNF  492          Augusto Persico  ITA          –  1920
39  DNF   83                Art Smoke  CAN          –  1920
40  DNF   95              Axel Jensen  DEN          –  1920
41  DNF  226              Arthur Roth  USA          –  1920
42  DNF  439        Peter Trivoulidis  GRE          –  1920
43  DNF  445      Christiaan Huijgens  NED          –  1920
44  DNF   63      Desiré Van Remortel  BEL          –  1920
45  DNF  621            Hans Schuster  SWE          –  1920
46  DNF  372          Amédée Trichard  FRA          –  1920
47  DNF  509           Sadashir Datar  IND          –  1920
48  DNS   65         Marcel Vrielynck  BEL          –  1920
49  DNS  249               Jack Weber  USA          –  1920
50  DNS  321           Ahmed Djebelia  FRA          –  1920
51  DNS  493         Pericle Pagliani  ITA          –  1920
52  DNS  560           Len Richardson  RSA          –  1920
53  DNS  256               Frank Zuna  USA          –  1920

## 1924 Olympics

In [19]:
# Get the URL of the webpage containing the table for the 1924 Olympics
olymp1924 = 'https://www.olympedia.org/results/57408'
page1924 = requests.get(olymp1924)
page1924.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1924 = BeautifulSoup(page1924.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1924 = soup1924.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1924_titles = table1924.find_all('th')
table1924_titles = [titles.text.strip() for titles in table1924_titles]

# Create a DataFrame with the first 5 column titles as headers
df1924 = pd.DataFrame(columns=table1924_titles[0:5])

# Get all the rows of the table
column_data = table1924.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1924.columns):
        length = len(df1924)  # Get the current length of the DataFrame
        df1924.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1924
df1924['Year'] = 1924

# Append the DataFrame for 1924 to the list of DataFrames
dfs.append(df1924)

df1924

    Pos   Nr         Athlete  NOC       Time  Year
0     1  334  Albin Stenroos  FIN  2-41:22.6  1924
1     2  579   Romeo Bertini  ITA  2-47:19.6  1924
2     3  210  Clarence DeMar  USA  2-48:14.0  1924
3     4  296   Lauri Halonen  FIN  2-49:47.4  1924
4     5  439      Sam Ferris  GBR  2-52:26.0  1924
..  ...  ...             ...  ...        ...   ...
66  DNS  803  Miloš Zapletal  TCH          –  1924
67  DNS   47   Rudolf Kühnel  AUT          –  1924
68  DNS  142      Sofus Rose  DEN          –  1924
69  DNS  152      José Andía  ESP          –  1924
70  DNS  804  František Zyka  TCH          –  1924

[71 rows x 6 columns]

## 1928 Olympics

In [21]:
# Get the URL of the webpage containing the table for the 1928 Olympics
olymp1928 = 'https://www.olympedia.org/results/57706'
page1928 = requests.get(olymp1928)
page1928.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1928 = BeautifulSoup(page1928.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1928 = soup1928.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1928_titles = table1928.find_all('th')
table1928_titles = [titles.text.strip() for titles in table1928_titles]

# Create a DataFrame with the first 5 column titles as headers
df1928 = pd.DataFrame(columns=table1928_titles[0:5])

# Get all the rows of the table
column_data = table1928.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1928.columns):
        length = len(df1928)  # Get the current length of the DataFrame
        df1928.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1928
df1928['Year'] = 1928

# Append the DataFrame for 1928 to the list of DataFrames
dfs.append(df1928)

df1928

    Pos   Nr            Athlete  NOC     Time  Year
0     1   71  Bouguera El Ouafi  FRA  2-32:57  1928
1     2  686       Manuel Plaza  CHI  2-33:23  1928
2     3  796   Martti Marttelin  FIN  2-35:02  1928
3     4  264   Kanematsu Yamada  JPN  2-35:29  1928
4     5  556           Joie Ray  USA  2-36:04  1928
..  ...  ...                ...  ...      ...   ...
74  DNS   53     Seghir Beddari  FRA        –  1928
75  DNS  147      Kārlis Bukass  LAT        –  1928
76  DNS   25         Pál Király  HUN        –  1928
77  DNS   26        Antal Lovas  HUN        –  1928
78  DNS  392      Karel Šťastný  TCH        –  1928

[79 rows x 6 columns]

## 1932 Olympics

In [23]:
# Get the URL of the webpage containing the table for the 1932 Olympics
olymp1932 = 'https://www.olympedia.org/results/57989'
page1932 = requests.get(olymp1932)
page1932.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1932 = BeautifulSoup(page1932.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1932 = soup1932.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1932_titles = table1932.find_all('th')
table1932_titles = [titles.text.strip() for titles in table1932_titles]

# Create a DataFrame with the first 5 column titles as headers
df1932 = pd.DataFrame(columns=table1932_titles[0:5])

# Get all the rows of the table
column_data = table1932.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1932.columns):
        length = len(df1932)  # Get the current length of the DataFrame
        df1932.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1932
df1932['Year'] = 1932

# Append the DataFrame for 1932 to the list of DataFrames
dfs.append(df1932)

df1932

    Pos   Nr                     Athlete  NOC     Time  Year
0     1   12          Juan Carlos Zabala  ARG  2-31:36  1932
1     2  195                  Sam Ferris  GBR  2-31:55  1932
2     3  137              Armas Toivonen  FIN  2-32:12  1932
3     4  207               Duncan Wright  GBR  2-32:41  1932
4     5  304             Seiichiro Tsuda  JPN  2-35:42  1932
5     6  285                  Kim Un-Bae  JPN  2-37:28  1932
6     7  446            Whitey Michelsen  USA  2-39:38  1932
7     8  110                  Oskar Hekš  TCH  2-41:35  1932
8     9  283                 Kwon Tae-Ha  JPN  2-42:52  1932
9    10  112  Anders Hartington Andersen  DEN  2-44:38  1932
10   11  448                  Hans Oldag  USA  2-47:26  1932
11   12   63               Cliff Bricker  CAN  2-47:58  1932
12   13  261             Michele Fanelli  ITA  2-49:09  1932
13   14   74                Johnny Miles  CAN  2-50:32  1932
14   15  162               Paul de Bruyn  GER  2-52:39  1932
15   16  144             François Bégeot  FRA  2-53:34  1932
16   17    3         Fernando Chacarelli  ARG  2-55:49  1932
17   18   67              Eddie Cudworth  CAN  2-58:35  1932
18   19   55      João Clemente da Silva  BRA  3-02:06  1932
19   20  338           Margarito Pomposo  MEX  3-10:51  1932
20  DNF   11                  José Ribas  ARG        –  1932
21  DNF   44           Matheus Marcondes  BRA        –  1932
22  DNF   99                 Jorge Perry  COL        –  1932
23  DNF  123               Ville Kyrönen  FIN        –  1932
24  DNF  139              Lasse Virtanen  FIN        –  1932
25  DNF  270           Francesco Roccati  ITA        –  1932
26  DNF  347          Santiago Hernández  MEX        –  1932
27  DNF  432               Jimmy Henigan  USA        –  1932
28  DNS   24               Franz Tuschek  AUT        –  1932
29  DNS  101                 René Bonich  CUB        –  1932
30  DNS   33           Adalberto Cardoso  BRA        –  1932
31  DNS  115               Alfred Maasik  EST        –  1932
32  DNS  354               Billy Savidan  NZL        –  1932

## 1936 Olympics

In [25]:
# Get the URL of the webpage containing the table for the 1936 Olympics
olymp1936 = 'https://www.olympedia.org/results/58231'
page1936 = requests.get(olymp1936)
page1936.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1936 = BeautifulSoup(page1936.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1936 = soup1936.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1936_titles = table1936.find_all('th')
table1936_titles = [titles.text.strip() for titles in table1936_titles]

# Create a DataFrame with the first 5 column titles as headers
df1936 = pd.DataFrame(columns=table1936_titles[0:5])

# Get all the rows of the table
column_data = table1936.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1936.columns):
        length = len(df1936)  # Get the current length of the DataFrame
        df1936.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1936
df1936['Year'] = 1936

# Append the DataFrame for 1936 to the list of DataFrames
dfs.append(df1936)


df1936

    Pos   Nr                     Athlete  NOC       Time  Year
0     1  382                Son Gi-Jeong  JPN  2-29:19.2  1936
1     2  265                Ernie Harper  GBR  2-31:23.2  1936
2     3  380               Nam Sung-Yong  JPN  2-31:42.0  1936
3     4  169                Erkki Tamila  FIN  2-32:45.0  1936
4     5  168              Väinö Muinonen  FIN  2-33:46.0  1936
5     6  653            Johannes Coleman  RSA  2-36:17.0  1936
6     7  267            Donald Robertson  GBR  2-37:06.2  1936
7     8  654               Jackie Gibson  RSA  2-38:04.0  1936
8     9  170            Mauno Tarkiainen  FIN  2-39:33.0  1936
9    10  581             Thore Enochsson  SWE  2-43:12.0  1936
10   11    7          Stelios Kyriakidis  GRE  2-43:20.0  1936
11   12  212                Nouba Khaled  FRA  2-45:34.0  1936
12   13  582                 Henry Palmé  SWE  2-46:08.4  1936
13   14  498               Franz Tuschek  AUT  2-46:29.0  1936
14   15   80              Jimmy Bartlett  CAN  2-48:21.4  1936
15   16  210                 Émile Duval  FRA  2-48:39.8  1936
16   17  559                 Manuel Dias  POR  2-49:00.0  1936
17   18  755               Johnny Kelley  USA  2-49:32.4  1936
18   19  667              Miloslav Luňák  TCH  2-50:26.0  1936
19   20   48               Felix Meskens  BEL  2-51:19.0  1936
20   21  669                   Ján Takáč  TCH  2-51:20.0  1936
21   22  496                Rudolf Wöber  AUT  2-51:28.0  1936
22   23  563                 Ludovic Gal  ROU  2-55:02.0  1936
23   24   49               Robert Nevens  BEL  2-55:51.0  1936
24   25  138  Anders Hartington Andersen  DEN  2-56:31.0  1936
25   26  527             Gabriel Mendoza  PER  2-57:17.8  1936
26   27  655               Tommy Lalande  RSA  2-57:20.0  1936
27   28  445           Artūrs Motmillers  LAT  2-58:02.0  1936
28   29  839             Eduard Braeseke  GER  2-59:33.4  1936
29   30    –                  Percy Wyer  CAN  3-00:11.0  1936
30   31  211          Fernand Leheurteur  FRA  3-01:11.0  1936
31   32  497           Wilhelm Rothmayer  AUT  3-02:32.0  1936
32   33  544           Bronisław Gancarz  POL  3-03:11.0  1936
33   34  619                    Max Beer  SUI  3-06:26.0  1936
34   35  528            Guillermo Suárez  PER  3-08:18.0  1936
35   36   62           Boris Haralampiev  BUL  3-08:53.8  1936
36   37  321                  Arul Swami  IND  3-10:44.0  1936
37   38  668                  Josef Šulc  TCH  3-11:47.4  1936
38   39  620                   Franz Eha  SUI  3-18:17.0  1936
39   40  125               Wang Zhenglin  CHN  3-25:36.4  1936
40   41  422                 Stane Šporn  YUG  3-30:47.0  1936
41   42  529                 José Farías  PER  3-33:24.0  1936
42  DNF   95                 Juan Acosta  CHI          –  1936
43  DNF  838              Franz Barsicke  GER          –  1936
44  DNF  754                Tarzan Brown  USA          –  1936
45  DNF  336            Giannino Bulzone  ITA          –  1936
46  DNF  840               Paul de Bruyn  GER          –  1936
47  DNF  543            Kazimierz Fiałka  POL          –  1936
48  DNF  337            Aurelio Genghini  ITA          –  1936
49  DNF  756               Billy McMahon  USA          –  1936
50  DNF  560                Jaime Mendes  POR          –  1936
51  DNF  266                 Bert Norris  GBR          –  1936
52  DNF   32                  Luis Oliva  ARG          –  1936
53  DNF  381               Tamao Shiwaku  JPN          –  1936
54  DNF   81              Harold Webster  CAN          –  1936
55  DNF   33          Juan Carlos Zabala  ARG          –  1936
56  DNS   47               Jean Chapelle  BEL          –  1936
57  DNS   81             Vincent Callard  CAN          –  1936
58  DNS  132                 Jorge Perry  COL          –  1936
59  DNS  621                  Ernst Hirt  SUI          –  1936

## 1948 Olympics

In [27]:
# Get the URL of the webpage containing the table for the 1948 Olympics
olymp1948 = 'https://www.olympedia.org/results/58578'
page1948 = requests.get(olymp1948)
page1948.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1948 = BeautifulSoup(page1948.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1948 = soup1948.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1948_titles = table1948.find_all('th')
table1948_titles = [titles.text.strip() for titles in table1948_titles]

# Create a DataFrame with the first 5 column titles as headers
df1948 = pd.DataFrame(columns=table1948_titles[0:5])

# Get all the rows of the table
column_data = table1948.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1948.columns):
        length = len(df1948)  # Get the current length of the DataFrame
        df1948.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1948
df1948['Year'] = 1948

# Append the DataFrame for 1948 to the list of DataFrames
dfs.append(df1948)

df1948

    Pos   Nr               Athlete  NOC       Time  Year
0     1  233         Delfo Cabrera  ARG  2-34:51.6  1948
1     2  266          Tom Richards  GBR  2-35:07.6  1948
2     3  252        Étienne Gailly  BEL  2-35:33.6  1948
3     4  278      Johannes Coleman  RSA  2-36:06.0  1948
4     5  234        Eusebio Guiñez  ARG  2-36:36.0  1948
5     6  279              Syd Luyt  RSA  2-38:11.0  1948
6     7  283        Gustav Östling  SWE  2-38:40.6  1948
7     8  276           John Systad  NOR  2-38:41.0  1948
8     9  251       Armando Sensini  ARG  2-39:30.0  1948
9    10  257        Henning Larsen  DEN  2-41:22.0  1948
10   11  238           Viljo Heino  FIN  2-41:32.0  1948
11   12  282          Anders Melin  SWE  2-42:20.0  1948
12   13  259       Jussi Kurikkala  FIN  2-42:48.0  1948
13   14  290             Ted Vogel  USA  2-45:27.0  1948
14   15  256     Enrique Inostroza  CHI  2-47:48.0  1948
15   16  254           Lloyd Evans  CAN  2-48:07.0  1948
16   17  253           Gérard Côté  CAN  2-48:31.0  1948
17   18  267    Stelios Kyriakidis  GRE  2-49:00.0  1948
18   19  269           József Kiss  HUN  2-50:20.0  1948
19   20  287            Şevki Koru  TUR  2-51:07.0  1948
20   21  288         Johnny Kelley  USA  2-51:56.0  1948
21   22  286      Kaspar Schiesser  SUI  2-52:09.0  1948
22   23  255       Walter Fedorick  CAN  2-52:12.0  1948
23   24  289        Ollie Manninen  USA  2-56:49.0  1948
24   25  274          Hong Jong-Oh  KOR  2-56:54.0  1948
25   26  258       Frank Mulvihill  IRL  2-57:35.0  1948
26   27  262           Seo Yun-Bok  KOR  2-59:36.0  1948
27   28  281        Sven Håkansson  SWE  3-00:09.0  1948
28   29  285            Jakob Jutz  SUI  3-03:55.0  1948
29   30  265            Stan Jones  GBR  3-09:16.0  1948
30  DNF  273         Choi Yun-Chil  KOR          –  1948
31  DNF  263        Arsène Piesset  FRA          –  1948
32  DNF  268    Athanasios Ragazos  GRE          –  1948
33  DNF  202             Luo Wenao  CHN          –  1948
34  DNF  264           Jack Holden  GBR          –  1948
35  DNF  284     Hans Frischknecht  SUI          –  1948
36  DNF  271          Chhota Singh  IND          –  1948
37  DNF  262           René Josset  FRA          –  1948
38  DNF  260        Mikko Hietanen  FIN          –  1948
39  DNF  818  Salvatore Costantino  ITA          –  1948
40  DNF  261         Pierre Cousin  FRA          –  1948
41  DNS  280       José María Blay  ESP          –  1948
42  DNS  275      Charles Heirendt  LUX          –  1948
43  DNS  270          István Simon  HUN          –  1948

## 1952 Olympics

In [29]:
# Get the URL of the webpage containing the table for the 1952 Olympics
olymp1952 = 'https://www.olympedia.org/results/58937'
page1952 = requests.get(olymp1952)
page1952.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1952 = BeautifulSoup(page1952.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1952 = soup1952.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1952_titles = table1952.find_all('th')
table1952_titles = [titles.text.strip() for titles in table1952_titles]

# Create a DataFrame with the first 5 column titles as headers
df1952 = pd.DataFrame(columns=table1952_titles[0:5])

# Get all the rows of the table
column_data = table1952.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1952.columns):
        length = len(df1952)  # Get the current length of the DataFrame
        df1952.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1952
df1952['Year'] = 1952

# Append the DataFrame for 1952 to the list of DataFrames
dfs.append(df1952)

df1952

    Pos   Nr             Athlete  NOC       Time  Year
0     1  903        Emil Zátopek  TCH  2-23:03.2  1952
1     2    6      Reinaldo Gorno  ARG  2-25:35.0  1952
2     3  683      Gustaf Jansson  SWE  2-26:07.0  1952
3     4  371       Choi Yun-Chil  KOR  2-26:36.0  1952
4     5  790     Veikko Karvonen  FIN  2-26:41.8  1952
..  ...  ...                 ...  ...        ...   ...
63  DNF  652         Radu Ioniță  ROU          –  1952
64  DNF  307  Yoshitaka Uchikawa  JPN          –  1952
65  DNF  124      Luis Velásquez  GUA          –  1952
66  DNS   23           Les Perry  AUS          –  1952
67  DNS  852   Hans Frischknecht  SUI          –  1952

[68 rows x 6 columns]

## 1956 Olympics

In [31]:
# Get the URL of the webpage containing the table for the 1956 Olympics
olymp1956 = 'https://www.olympedia.org/results/59330'
page1956 = requests.get(olymp1956)
page1956.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1956 = BeautifulSoup(page1956.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1956 = soup1956.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1956_titles = table1956.find_all('th')
table1956_titles = [titles.text.strip() for titles in table1956_titles]

# Create a DataFrame with the first 5 column titles as headers
df1956 = pd.DataFrame(columns=table1956_titles[0:5])

# Get all the rows of the table
column_data = table1956.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1956.columns):
        length = len(df1956)  # Get the current length of the DataFrame
        df1956.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1956
df1956['Year'] = 1956

# Append the DataFrame for 1956 to the list of DataFrames
dfs.append(df1956)

df1956

    Pos Nr                  Athlete  NOC     Time  Year
0     1  –             Alain Mimoun  FRA  2-25:00  1956
1     2  –           Franjo Mihalić  YUG  2-26:32  1956
2     3  –          Veikko Karvonen  FIN  2-27:47  1956
3     4  –            Lee Chang-Hun  KOR  2-28:45  1956
4     5  –       Yoshiaki Kawashima  JPN  2-29:19  1956
5     6  –             Emil Zátopek  TCH  2-29:34  1956
6     7  –               Ivan Filin  URS  2-30:37  1956
7     8  –             Evert Nyberg  SWE  2-31:12  1956
8     9  –           Thomas Nilsson  SWE  2-33:33  1956
9    10  –             Eino Oksanen  FIN  2-36:10  1956
10   11  –             Arnold Vaide  SWE  2-36:21  1956
11   12  –           Choi Chung-Sik  KOR  2-36:53  1956
12   13  –             Paavo Kotila  FIN  2-38:59  1956
13   14  –            Mercer Davies  RSA  2-39:48  1956
14   15  –              Harry Hicks  GBR  2-39:55  1956
15   16  –           Hideo Hamamura  JPN  2-40:53  1956
16   17  –          Albert Richards  NZL  2-41:34  1956
17   18  –             John Russell  AUS  2-41:44  1956
18   19  –           Lothar Beckert  GER  2-42:10  1956
19   20  –              Nick Costes  USA  2-42:20  1956
20   21  –            Johnny Kelley  USA  2-43:40  1956
21   22  –  Muhammad Havildar Aslam  PAK  2-44:33  1956
22   23  –             Dolfi Gruber  AUT  2-46:20  1956
23   24  –   Aurèle Vandendriessche  BEL  2-47:18  1956
24   25  –        Keith Ollerenshaw  AUS  2-48:12  1956
25   26  –              Myitung Naw  MYA  2-49:32  1956
26   27  –           Pavel Kantorek  TCH  2-52:05  1956
27   28  –             Kurt Hartung  GER  2-52:14  1956
28   29  –            Bashay Feleke  ETH  2-53:37  1956
29   30  –             Abdul Rashid  PAK  2-57:47  1956
30   31  –               Kanuti Sum  KEN  2-58:42  1956
31   32  –             Gebre Birkay  ETH  2-58:49  1956
32   33  –          Kurao Hiroshima  JPN  3-04:17  1956
33  DNF  –          Boris Grishayev  URS        –  1956
34  DNF  –              Jan Barnard  RSA        –  1956
35  DNF  –                Les Perry  AUS        –  1956
36  DNF  –              Fred Norris  GBR        –  1956
37  DNF  –            Albert Ivanov  URS        –  1956
38  DNF  –              Im Hwa-Dong  KOR        –  1956
39  DNF  –               Juan Silva  CHI        –  1956
40  DNF  –                Ron Clark  GBR        –  1956
41  DNF  –          Klaus Porbadnik  GER        –  1956
42  DNF  –             Rino Lavelli  ITA        –  1956
43  DNF  –       Eduardo Fontecilla  CHI        –  1956
44  DNF  –           Dean Thackwray  USA        –  1956
45  DNF  –         Ali Baghbanbashi  IRI        –  1956
46  DNS  –              Rudy Méndez  PUR        –  1956
47  DNS  –        Demissie Gamatcho  ETH        –  1956

## 1960 Olympics

In [33]:
# Get the URL of the webpage containing the table for the 1960 Olympics
olymp1960 = 'https://www.olympedia.org/results/59715'
page1960 = requests.get(olymp1960)
page1960.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1960 = BeautifulSoup(page1960.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1960 = soup1960.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1960_titles = table1960.find_all('th')
table1960_titles = [titles.text.strip() for titles in table1960_titles]

# Create a DataFrame with the first 5 column titles as headers
df1960 = pd.DataFrame(columns=table1960_titles[0:5])

# Get all the rows of the table
column_data = table1960.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1960.columns):
        length = len(df1960)  # Get the current length of the DataFrame
        df1960.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1960
df1960['Year'] = 1960

# Append the DataFrame for 1960 to the list of DataFrames
dfs.append(df1960)

df1960

    Pos Nr                       Athlete  NOC       Time  Year
0     1  –                  Abebe Bikila  ETH  2-15:16.2  1960
1     2  –          Rhadi Ben Abdesselam  MAR  2-15:41.6  1960
2     3  –                   Barry Magee  NZL  2-17:18.2  1960
3     4  –           Konstantin Vorobyov  URS  2-19:09.6  1960
4     5  –                  Sergey Popov  URS  2-19:18.8  1960
..  ... ..                           ...  ...        ...   ...
69  DNS  –                   Erik Östbye  SWE          –  1960
70  DNS  –  Tadeusz Starzyński-Starybrat  POL          –  1960
71  DNS  –                    Dave Power  AUS          –  1960
72  DNS  –           Constantin Grecescu  ROU          –  1960
73  DNS  –               Cyprian Tseriwa  ZIM          –  1960

[74 rows x 6 columns]

## 1964 Olympics

In [35]:
# Get the URL of the webpage containing the table for the 1964 Olympics
olymp1964 = 'https://www.olympedia.org/results/60161'
page1964 = requests.get(olymp1964)
page1964.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1964 = BeautifulSoup(page1964.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1964 = soup1964.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1964_titles = table1964.find_all('th')
table1964_titles = [titles.text.strip() for titles in table1964_titles]

# Create a DataFrame with the first 5 column titles as headers
df1964 = pd.DataFrame(columns=table1964_titles[0:5])

# Get all the rows of the table
column_data = table1964.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1964.columns):
        length = len(df1964)  # Get the current length of the DataFrame
        df1964.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1964
df1964['Year'] = 1964

# Append the DataFrame for 1964 to the list of DataFrames
dfs.append(df1964)

df1964

    Pos   Nr                Athlete  NOC       Time  Year
0     1  100           Abebe Bikila  ETH  2-12:11.2  1964
1     2  186          Basil Heatley  GBR  2-16:19.2  1964
2     3  795      Kokichi Tsuburaya  JPN  2-16:22.8  1964
3     4  187            Brian Kilby  GBR  2-17:02.4  1964
4     5  293            József Sütő  HUN  2-17:55.8  1964
..  ...  ...                    ...  ...        ...   ...
74  DNS  291           Lajos Mecser  HUN          –  1964
75  DNS  413    Jean Randrianjatavo  MAD          –  1964
76  DNS  449          Ryu Man-Hyong  PRK          –  1964
77  DNS   67  Ranatunge Karunananda  SRI          –  1964
78  DNS  615       Mohamad Gammoudi  TUN          –  1964

[79 rows x 6 columns]

## 1968 Olympics

In [37]:
# Get the URL of the webpage containing the table for the 1968 Olympics
olymp1968 = 'https://www.olympedia.org/results/60599'
page1968 = requests.get(olymp1968)
page1968.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1968 = BeautifulSoup(page1968.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1968 = soup1968.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1968_titles = table1968.find_all('th')
table1968_titles = [titles.text.strip() for titles in table1968_titles]

# Create a DataFrame with the first 5 column titles as headers
df1968 = pd.DataFrame(columns=table1968_titles[0:5])

# Get all the rows of the table
column_data = table1968.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1968.columns):
        length = len(df1968)  # Get the current length of the DataFrame
        df1968.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1968
df1968['Year'] = 1968
df1968.columns = df1964.columns
# Append the DataFrame for 1968 to the list of DataFrames
dfs.append(df1968)

df1968

    Pos   Nr           Athlete  NOC       Time  Year
0     1  329        Mamo Wolde  ETH  2-20:26.4  1968
1     2  544    Kenji Kimihara  JPN  2-23:31.0  1968
2     3  654         Mike Ryan  NZL  2-23:45.0  1968
3     4  783      İsmail Akçay  TUR  2-25:18.8  1968
4     5  383      Bill Adcocks  GBR  2-25:33.0  1968
..  ...  ...               ...  ...        ...   ...
79  DNS  451    Ton Eijkenboom  NED          –  1968
80  DNS   69      Jürgen Haase  GDR          –  1968
81  DNS  683   Edward Stawiarz  POL          –  1968
82  DNS  781  Mohamad Gammoudi  TUN          –  1968
83  DNS  324    Demissie Wolde  ETH          –  1968

[84 rows x 6 columns]

## 1972 Olympics

In [39]:
# Get the URL of the webpage containing the table for the 1972 Olympics
olymp1972 = 'https://www.olympedia.org/results/61114'
page1972 = requests.get(olymp1972)
page1972.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1972 = BeautifulSoup(page1972.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1972 = soup1972.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1972_titles = table1972.find_all('th')
table1972_titles = [titles.text.strip() for titles in table1972_titles]

# Create a DataFrame with the first 5 column titles as headers
df1972 = pd.DataFrame(columns=table1972_titles[0:5])

# Get all the rows of the table
column_data = table1972.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1972.columns):
        length = len(df1972)  # Get the current length of the DataFrame
        df1972.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1972
df1972['Year'] = 1972

# Append the DataFrame for 1972 to the list of DataFrames
dfs.append(df1972)

df1972

    Pos    Nr           Athlete  NOC       Time  Year
0     1  1014     Frank Shorter  USA  2-12:19.8  1972
1     2    58     Karel Lismont  BEL  2-14:31.8  1972
2     3   194        Mamo Wolde  ETH  2-15:08.4  1972
3     4  1001       Kenny Moore  USA  2-15:39.8  1972
4     5   558    Kenji Kimihara  JPN  2-16:27.0  1972
..  ...   ...               ...  ...        ...   ...
71  DNF     –     Rodolfo Gómez  NCA          –  1972
72  DNF   575      Richard Juma  KEN          –  1972
73  DNF   813  Shag Musa Medani  SUD          –  1972
74  DNS   875      Josef Jánský  TCH          –  1972
75  DNS     –     Hüseyin Aktaş  TUR          –  1972

[76 rows x 6 columns]

## 1976 Olympics

In [41]:
# Get the URL of the webpage containing the table for the 1976 Olympics
olymp1976 = 'https://www.olympedia.org/results/61698'
page1976 = requests.get(olymp1976)
page1976.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1976 = BeautifulSoup(page1976.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1976 = soup1976.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1976_titles = table1976.find_all('th')
table1976_titles = [titles.text.strip() for titles in table1976_titles]

# Create a DataFrame with the first 5 column titles as headers
df1976 = pd.DataFrame(columns=table1976_titles[0:5])

# Get all the rows of the table
column_data = table1976.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1976.columns):
        length = len(df1976)  # Get the current length of the DataFrame
        df1976.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1976
df1976['Year'] = 1976

# Append the DataFrame for 1976 to the list of DataFrames
dfs.append(df1976)

df1976

    Pos   Nr              Athlete  NOC       Time  Year
0     1  387  Waldemar Cierpinski  GDR  2-09:55.0  1976
1     2  961        Frank Shorter  USA  2-10:45.8  1976
2     3   91        Karel Lismont  BEL  2-11:12.6  1976
3     4  937          Don Kardong  USA  2-11:15.8  1976
4     5  301          Lasse Virén  FIN  2-13:10.8  1976
..  ...  ...                  ...  ...        ...   ...
66  DNF  693           Kevin Ryan  NZL          –  1976
67  DNS   98      Gaston Roelants  BEL          –  1976
68  DNS  479       Olmeus Charles  HAI          –  1976
69  DNS  752         Carlos Lopes  POR          –  1976
70  DNS  778         Ilie Floroiu  ROU          –  1976

[71 rows x 6 columns]

## 1980 Olympics

In [43]:
# Get the URL of the webpage containing the table for the 1980 Olympics
olymp1980 = 'https://www.olympedia.org/results/62258'
page1980 = requests.get(olymp1980)
page1980.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1980 = BeautifulSoup(page1980.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1980 = soup1980.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1980_titles = table1980.find_all('th')
table1980_titles = [titles.text.strip() for titles in table1980_titles]

# Create a DataFrame with the first 5 column titles as headers
df1980 = pd.DataFrame(columns=table1980_titles[0:5])

# Get all the rows of the table
column_data = table1980.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1980.columns):
        length = len(df1980)  # Get the current length of the DataFrame
        df1980.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1980
df1980['Year'] = 1980

# Append the DataFrame for 1980 to the list of DataFrames
dfs.append(df1980)

df1980

    Pos   Nr                 Athlete  NOC     Time  Year
0     1  297     Waldemar Cierpinski  GDR  2-11:03  1980
1     2  360          Gerard Nijboer  NED  2-11:20  1980
2     3  700  Satymkul Dzhumanazarov  URS  2-11:35  1980
3     4  709          Vladimir Kotov  URS  2-12:05  1980
4     5  719          Leonid Moseyev  URS  2-12:14  1980
..  ...  ...                     ...  ...      ...   ...
71  DNF  768         Patrick Chiwala  ZAM        –  1980
72  DNF  288            Ian Thompson  GBR        –  1980
73  DNF  476           Kenneth Hlasa  LES        –  1980
74  DNS  409             John Treacy  IRL        –  1980
75  DNS  778           Laswell Ngoma  ZIM        –  1980

[76 rows x 6 columns]

## 1984 Olympics

In [45]:
# Get the URL of the webpage containing the table for the 1984 Olympics
olymp1984 = 'https://www.olympedia.org/results/62738'
page1984 = requests.get(olymp1984)
page1984.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1984 = BeautifulSoup(page1984.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1984 = soup1984.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1984_titles = table1984.find_all('th')
table1984_titles = [titles.text.strip() for titles in table1984_titles]

# Create a DataFrame with the first 5 column titles as headers
df1984 = pd.DataFrame(columns=table1984_titles[0:5])

# Get all the rows of the table
column_data = table1984.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1984.columns):
        length = len(df1984)  # Get the current length of the DataFrame
        df1984.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1984
df1984['Year'] = 1984

# Append the DataFrame for 1984 to the list of DataFrames
dfs.append(df1984)


df1984

     Pos   Nr               Athlete  NOC     Time  Year
0      1  723          Carlos Lopes  POR  2-09:21  1984
1      2  471           John Treacy  IRL  2-09:56  1984
2      3  396      Charlie Spedding  GBR  2-09:58  1984
3      4  566            Takeshi So  JPN  2-10:55  1984
4      5   25       Rob de Castella  AUS  2-11:09  1984
..   ...  ...                   ...  ...      ...   ...
103  DNF  158          Omar Aguilar  CHI        –  1984
104  DNF  992         Nimley Twegbe  LBR        –  1984
105  DNF  962  Masini Situ-Kumbanga  COD        –  1984
106  DNF  198     Filippos Filippou  CYP        –  1984
107  DNS  271         Martti Vainio  FIN        –  1984

[108 rows x 6 columns]

## 1988 Olympics

In [47]:
# Get the URL of the webpage containing the table for the 1988 Olympics
olymp1988 = 'https://www.olympedia.org/results/63374'
page1988 = requests.get(olymp1988)
page1988.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1988 = BeautifulSoup(page1988.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1988 = soup1988.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1988_titles = table1988.find_all('th')
table1988_titles = [titles.text.strip() for titles in table1988_titles]

# Create a DataFrame with the first 5 column titles as headers
df1988 = pd.DataFrame(columns=table1988_titles[0:5])

# Get all the rows of the table
column_data = table1988.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1988.columns):
        length = len(df1988)  # Get the current length of the DataFrame
        df1988.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1988
df1988['Year'] = 1988

# Append the DataFrame for 1988 to the list of DataFrames
dfs.append(df1988)

df1988

     Pos   Nr                   Athlete  NOC     Time  Year
0      1  579            Gelindo Bordin  ITA  2-10:32  1988
1      2  675         Douglas Wakiihuri  KEN  2-10:47  1988
2      3  236               Ahmed Salah  DJI  2-10:59  1988
3      4  635         Takeyuki Nakayama  JPN  2-11:05  1988
4      5   44          Steve Moneghetti  AUS  2-11:49  1988
..   ...  ...                       ...  ...      ...   ...
113  DNF  742          George Mambosasa  MAW        –  1988
114  DNF    –  Abdul Haji Abdul Latheef  MDV        –  1988
115  DNF    –            Hussein Haleem  MDV        –  1988
116  DNF    –      Ahmed Mohamed Ismail  SOM        –  1988
117  DNF    –            Joseph Kipsang  KEN        –  1988

[118 rows x 6 columns]

## 1992 Olympics

In [49]:
# Get the URL of the webpage containing the table for the 1992 Olympics
olymp1992 = 'https://www.olympedia.org/results/64053'
page1992 = requests.get(olymp1992)
page1992.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1992 = BeautifulSoup(page1992.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1992 = soup1992.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1992_titles = table1992.find_all('th')
table1992_titles = [titles.text.strip() for titles in table1992_titles]

# Create a DataFrame with the first 5 column titles as headers
df1992 = pd.DataFrame(columns=table1992_titles[0:5])

# Get all the rows of the table
column_data = table1992.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1992.columns):
        length = len(df1992)  # Get the current length of the DataFrame
        df1992.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1992
df1992['Year'] = 1992

# Append the DataFrame for 1992 to the list of DataFrames
dfs.append(df1992)

df1992

     Pos    Nr             Athlete  NOC     Time  Year
0      1  1147      Hwang Yeong-Jo  KOR  2-13:23  1992
1      2  1087    Koichi Morishita  JPN  2-13:45  1992
2      3   800    Stephan Freigang  GER  2-14:00  1992
3      4  1088   Takeyuki Nakayama  JPN  2-14:02  1992
4      5   992   Salvatore Bettiol  ITA  2-14:15  1992
..   ...   ...                 ...  ...      ...   ...
107  DNF   931         Csaba Szűcs  HUN        –  1992
108  DNF  1591  Simon Robert Naali  TAN        –  1992
109  DNF  1481             Jan Tau  RSA        –  1992
110  DNS  1236     Salvador García  MEX        –  1992
111  DNS   490   Vladimir Bukhanov  EUN        –  1992

[112 rows x 6 columns]

## 1996 Olympics

In [51]:
# Get the URL of the webpage containing the table for the 1996 Olympics
olymp1996 = 'https://www.olympedia.org/results/64735'
page1996 = requests.get(olymp1996)
page1996.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup1996 = BeautifulSoup(page1996.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table1996 = soup1996.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table1996_titles = table1996.find_all('th')
table1996_titles = [titles.text.strip() for titles in table1996_titles]

# Create a DataFrame with the first 5 column titles as headers
df1996 = pd.DataFrame(columns=table1996_titles[0:5])

# Get all the rows of the table
column_data = table1996.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df1996.columns):
        length = len(df1996)  # Get the current length of the DataFrame
        df1996.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 1996
df1996['Year'] = 1996

# Append the DataFrame for 1996 to the list of DataFrames
dfs.append(df1996)

df1996

     Pos    Nr            Athlete  NOC     Time  Year
0      1  2122     Josia Thugwane  RSA  2-12:36  1996
1      2  1832        Lee Bong-Ju  KOR  2-12:39  1996
2      3  1819      Eric Wainaina  KEN  2-12:44  1996
3      4  1344         Martín Fiz  ESP  2-13:20  1996
4      5  1500   Richard Nerurkar  GBR  2-13:39  1996
..   ...   ...                ...  ...      ...   ...
119  DNF  1142  Benjamin Keleketu  BOT        –  1996
120  DNF  1895  Dainius Virbickas  LTU        –  1996
121  DNF  1410       Risto Ulmala  FIN        –  1996
122  DNF  1319        Omar Moussa  DJI        –  1996
123  DNF  1830         Kim Wan-Gi  KOR        –  1996

[124 rows x 6 columns]

## 2000 Olympics

In [53]:
# Get the URL of the webpage containing the table for the 2000 Olympics
olymp2000 = 'https://www.olympedia.org/results/65407'
page2000 = requests.get(olymp2000)
page2000.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2000 = BeautifulSoup(page2000.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2000 = soup2000.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2000_titles = table2000.find_all('th')
table2000_titles = [titles.text.strip() for titles in table2000_titles]

# Create a DataFrame with the first 5 column titles as headers
df2000 = pd.DataFrame(columns=table2000_titles[0:5])

# Get all the rows of the table
column_data = table2000.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2000.columns):
        length = len(df2000)  # Get the current length of the DataFrame
        df2000.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2000
df2000['Year'] = 2000

# Append the DataFrame for 2000 to the list of DataFrames
dfs.append(df2000)

df2000

    Pos    Nr           Athlete  NOC     Time  Year
0     1  1651   Gezahegne Abera  ETH  2-10:11  2000
1     2  2394     Eric Wainaina  KEN  2-10:31  2000
2     3  1663      Tesfaye Tola  ETH  2-11:10  2000
3     4  1780         Jon Brown  GBR  2-11:17  2000
4     5  2202     Giacomo Leone  ITA  2-12:14  2000
..  ...   ...               ...  ...      ...   ...
95  DNF  2707      Piotr Gładki  POL        –  2000
96  DNF  2182   Stefano Baldini  ITA        –  2000
97  DNF  1545  Omar Daher Gadid  DJI        –  2000
98  DNF  2385      Elijah Lagat  KEN        –  2000
99  DNF  3120    Fokasi Wilbrod  TAN        –  2000

[100 rows x 6 columns]

## 2004 Olympics

In [55]:
# Get the URL of the webpage containing the table for the 2004 Olympics
olymp2004 = 'https://www.olympedia.org/results/66095'
page2004 = requests.get(olymp2004)
page2004.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2004 = BeautifulSoup(page2004.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2004 = soup2004.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2004_titles = table2004.find_all('th')
table2004_titles = [titles.text.strip() for titles in table2004_titles]

# Create a DataFrame with the first 5 column titles as headers
df2004 = pd.DataFrame(columns=table2004_titles[0:5])

# Get all the rows of the table
column_data = table2004.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2004.columns):
        length = len(df2004)  # Get the current length of the DataFrame
        df2004.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2004
df2004['Year'] = 2004

# Append the DataFrame for 2004 to the list of DataFrames
dfs.append(df2004)

df2004

     Pos    Nr              Athlete  NOC     Time  Year
0      1  2157      Stefano Baldini  ITA  2-10:55  2004
1      2  3295       Meb Keflezighi  USA  2-11:29  2004
2      3  1234    Vanderlei de Lima  BRA  2-12:11  2004
3      4  1791            Jon Brown  GBR  2-12:26  2004
4      5  2263      Shigeru Aburaya  JPN  2-13:11  2004
..   ...   ...                  ...  ...      ...   ...
97   DNF  3093       John Nada Saya  TAN        –  2004
98   DNF  3108          Gil da Cruz  TLS        –  2004
99   DNF  1711      Jussi Utriainen  FIN        –  2004
100  DNF  1137  Jean-Paul Gahimbaré  BDI        –  2004
101  DNS   269         Luc Krotwaar  NED        –  2004

[102 rows x 6 columns]

## 2008 Olympics

In [57]:
# Get the URL of the webpage containing the table for the 2008 Olympics
olymp2008 = 'https://www.olympedia.org/results/257229'
page2008 = requests.get(olymp2008)
page2008.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2008 = BeautifulSoup(page2008.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2008 = soup2008.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2008_titles = table2008.find_all('th')
table2008_titles = [titles.text.strip() for titles in table2008_titles]

# Create a DataFrame with the first 5 column titles as headers
df2008 = pd.DataFrame(columns=table2008_titles[0:5])

# Get all the rows of the table
column_data = table2008.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2008.columns):
        length = len(df2008)  # Get the current length of the DataFrame
        df2008.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2008
df2008['Year'] = 2008

# Append the DataFrame for 2008 to the list of DataFrames
dfs.append(df2008)

df2008

    Pos    Nr                 Athlete  NOC     Time  Year
0     1  2263           Sammy Wanjiru  KEN  2-06:32  2008
1     2  2391           Jaouad Gharib  MAR  2-07:16  2008
2     3  1651          Tsegaye Kebede  ETH  2-10:00  2008
3     4  1650            Deriba Merga  ETH  2-10:21  2008
4     5  2261              Martin Lel  KEN  2-10:24  2008
..  ...   ...                     ...  ...      ...   ...
93  DNF  2356          Clement Lebopo  LES        –  2008
94  DNF  3112    Oleksandr Sitkovskyi  UKR        –  2008
95  DNS  2968  Mohamed Ikoki Msanduki  TAN        –  2008
96  DNS  2204          Satoshi Oosaki  JPN        –  2008
97  DNS  2997          Augusto Soares  TLS        –  2008

[98 rows x 6 columns]

## 2012 Olympics

In [59]:
# Get the URL of the webpage containing the table for the 2012 Olympics
olymp2012 = 'https://www.olympedia.org/results/302377'
page2012 = requests.get(olymp2012)
page2012.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2012 = BeautifulSoup(page2012.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2012 = soup2012.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2012_titles = table2012.find_all('th')
table2012_titles = [titles.text.strip() for titles in table2012_titles]

# Create a DataFrame with the first 5 column titles as headers
df2012 = pd.DataFrame(columns=table2012_titles[0:5])

# Get all the rows of the table
column_data = table2012.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2012.columns):
        length = len(df2012)  # Get the current length of the DataFrame
        df2012.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2012
df2012['Year'] = 2012

# Append the DataFrame for 2012 to the list of DataFrames
dfs.append(df2012)


df2012

     Pos    Nr                   Athlete  NOC     Time  Year
0      1  3113         Stephen Kiprotich  UGA  2-08:01  2012
1      2  2304                Abel Kirui  KEN  2-08:27  2012
2      3  2302  Wilson Kipsang Kiprotich  KEN  2-09:37  2012
3      4  3225            Meb Keflezighi  USA  2-11:06  2012
4      5  1226       Marílson dos Santos  BRA  2-11:10  2012
..   ...   ...                       ...  ...      ...   ...
100  DNF  1756         Abraham Kiprotich  FRA        –  2012
101  DNF  2409      Ali Mabrouk El-Zaidi  LBA        –  2012
102  DNF  1089        Günther Weidlinger  AUT        –  2012
103  DNF  2397      Valērijs Žolnerovičs  LAT        –  2012
104   DQ  2451   Abderrahhime Bouramdane  MAR        –  2012

[105 rows x 6 columns]

## 2016 Olympics

In [61]:
# Get the URL of the webpage containing the table for the 2016 Olympics
olymp2016 = 'https://www.olympedia.org/results/358639'
page2016 = requests.get(olymp2016)
page2016.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2016 = BeautifulSoup(page2016.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2016 = soup2016.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2016_titles = table2016.find_all('th')
table2016_titles = [titles.text.strip() for titles in table2016_titles]

# Create a DataFrame with the first 5 column titles as headers
df2016 = pd.DataFrame(columns=table2016_titles[0:5])

# Get all the rows of the table
column_data = table2016.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2016.columns):
        length = len(df2016)  # Get the current length of the DataFrame
        df2016.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2016
df2016['Year'] = 2016

# Append the DataFrame for 2016 to the list of DataFrames
dfs.append(df2016)

# Display the first 2 rows of the DataFrame for 2016
df2016

     Pos    Nr                Athlete  NOC       Time  Year
0      1  2680         Eliud Kipchoge  KEN    2-08:44  2016
1      2  2398          Feyisa Lilesa  ETH    2-09:54  2016
2      3  3097             Galen Rupp  USA    2-10:05  2016
3      4  2339  Ghirmay Ghebreslassie  ERI    2-11:04  2016
4      5  2964   Alphonce Felix Simbu  TAN    2-11:15  2016
..   ...   ...                    ...  ...        ...   ...
150  DNF  2387          Tesfaye Abera  ETH          –  2016
151  DNF  2475         Tsegai Tewelde  GBR          –  2016
152  DNF  2604         Daniele Meucci  ITA          –  2016
153  DNF  3112          Andrey Petrov  UZB          –  2016
154   DQ  2739  Abdelmajid El-Hissouf  MAR  [2-20:29]  2016

[155 rows x 6 columns]

## 2020 Olympics

In [63]:
# Get the URL of the webpage containing the table for the 2020 Olympics
olymp2020 = 'https://www.olympedia.org/results/19000437'
page2020 = requests.get(olymp2020)
page2020.encoding = 'utf-8'  # Set the encoding of the webpage to 'utf-8'

# Parse the webpage content using BeautifulSoup
soup2020 = BeautifulSoup(page2020.text, 'html.parser')

# Find the table with the class 'table table-striped' on the webpage
table2020 = soup2020.find("table", class_="table table-striped")

# Get the titles (headers) of the table
table2020_titles = table2020.find_all('th')
table2020_titles = [titles.text.strip() for titles in table2020_titles]

# Create a DataFrame with the first 5 column titles as headers
df2020 = pd.DataFrame(columns=table2020_titles[0:5])

# Get all the rows of the table
column_data = table2020.find_all('tr')

# Iterate over each row of the table (excluding the header row)
for row in column_data[1:]:
    # Get all the data cells in the row
    row_data = row.find_all('td')
    # Extract and strip the text from the first 5 cells
    individual_row_data = [data.text.strip() for data in row_data][0:5]

    # Ensure the row has the correct number of columns
    if len(individual_row_data) == len(df2020.columns):
        length = len(df2020)  # Get the current length of the DataFrame
        df2020.loc[length] = individual_row_data  # Add the row to the DataFrame

# Add a new column for the Olympics year 2020
df2020['Year'] = 2020

df2020.columns = df2016.columns

# Append the DataFrame for 2020 to the list of DataFrames
dfs.append(df2020)

df2020

     Pos    Nr               Athlete  NOC       Time  Year
0      1  2776        Eliud Kipchoge  KEN    2-08:38  2020
1      2  3024          Abdi Nageeye  NED    2-09:58  2020
2      3  1188           Bashir Abdi  BEL    2-10:00  2020
3      4  2769      Lawrence Cherono  KEN    2-10:02  2020
4      5  1799        Ayad Lamdassem  ESP    2-10:16  2020
..   ...   ...                   ...  ...        ...   ...
101  DNF  1314         Daniel Chaves  BRA          –  2020
102  DNF  3799  Oleksandr Sitkovskyi  UKR          –  2020
103  DNF  1868          Shura Kitata  ETH          –  2020
104  DNF  1094           Jack Rayner  AUS          –  2020
105   DQ  1352  El Hassan El-Abbassi  BRN  [2-15:56]  2020

[106 rows x 6 columns]

In [64]:
# Concatenate all DataFrames in the dfs list into a single DataFrame
df = pd.concat(dfs, ignore_index=True)
df

      Pos    Nr                 Athlete  NOC       Time  Year
0       1    17            Spyros Louis  GRE    2-58:50  1896
1       2     7     Charilaos Vasilakos  GRE    3-06:03  1896
2       3     6           Gyula Kellner  HUN    3-06:35  1896
3       4    14         Ioannis Vrettos  GRE          –  1896
4       5    15  Eleftherios Papasymeon  GRE          –  1896
...   ...   ...                     ...  ...        ...   ...
2399  DNF  1314           Daniel Chaves  BRA          –  2020
2400  DNF  3799    Oleksandr Sitkovskyi  UKR          –  2020
2401  DNF  1868            Shura Kitata  ETH          –  2020
2402  DNF  1094             Jack Rayner  AUS          –  2020
2403   DQ  1352    El Hassan El-Abbassi  BRN  [2-15:56]  2020

[2404 rows x 6 columns]

In [65]:
# Save concatenated_df as CSV without index
df.to_csv('C:/Users/PC/Desktop/Portfolio/olympics/HistoricOlympicData.csv',  index=False, encoding='utf-8')